venv/
build/
dist/
*.egg-info


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories
tmp/
others/
googletest/
quex/
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]

# files
test/example_*
qt_*

# compressed files
*.tar.gz
*.zip

