#include <iostream>
#include <string>
#include <sstream>
#include <gtest/gtest.h>
#include "qtoken_api.h"


std::string prepTest(std::string text) {
    std::stringstream inp(text);
    std::string result;
    qtoken_get_str(result, {PREP}, &inp, XML);
    return result;
}


std::string sntTest(std::string text) {
    std::stringstream inp(text);
    std::string result;
    qtoken_get_str(result, {PREP, SNT}, &inp, XML);
    return result;
}


std::string sntcorrTest(std::string text) {
    std::stringstream inp(text);
    std::string result;
    qtoken_get_str(result, {PREP, SNT, SNTCORR, SNTCORR}, &inp, XML);
    return result;
}

std::string tokenTest(std::string text) {
    std::stringstream inp(text);
    std::string result;
    qtoken_get_str(result, {PREP, SNT, SNTCORR, SNTCORR, TOKEN}, &inp, XML);
    return result;
}


${TESTS}


int main(int argc, char **argv) {
    testing::InitGoogleTest(&argc, argv);
    return RUN_ALL_TESTS();
}

// vim:set syntax=cpp:

